*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img{
  max-width: 100%;
}

.d-flex{
  display: flex;
}

header{
  background-color: black;
  height: 100px;
}

header .speaker{
  justify-content: flex-end;
  padding-top: 5px;
  margin: 0 auto;
  width: 98%;
}

.header-scritta{
background-color: #4a4a4a;
padding: 5px;
border-radius: 5px;
}

.header-freccia{
  padding-left: 10px
}

header .fa-maximize{
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
}

/* main */
main{
  background-color: black;
  height: calc(100vh - 200px);
  overflow: auto;
}

main .webcam{
  width: 250px;
  height: 145px;
  position: relative;
  margin: 7px 3px;
}

main .webcam img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .webcam span{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  padding: 6px;
  font-size: 0.9rem;
}

.container-main{
  flex-wrap: wrap;
  justify-content: center;
}
/* /main */

/* footer */

footer{
  background-color: #222222;
  height: 100px;
}

footer .icone{
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

footer .in{
  flex-grow: 1;
  text-align: center;
}

.icone .sx{
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
}

footer section{
  max-width: 700px;
  margin: 0 auto;
}

.caratteristiche{
  font-size: 30px;
  padding-bottom: 8px;
}

footer .arrow{
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

footer .btn,button{
  height: 100%;
  width: 130px;
  background-color: #4a4a4a;
  color: red;
  border: 0px;
  cursor: pointer;
}

footer i:hover{
  color: #4bc800;
}

footer button:hover{
  background-color: rgb(193, 193, 193);
}