*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}

.d-flex{
  display: flex;
}

header{
  background-color: black;
  color: white;
}

header .speaker{
  justify-content: flex-end;
  padding-top: 5px;
  margin: 0 auto;
  width: 98%;
}

.header-scritta{
background-color: #4a4a4a;
padding: 5px;
border-radius: 5px;
}

.header-freccia{
  padding-left: 10px
}

header .fa-maximize{
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 5px;
}

main{
  background-color: black;
  height: calc(100vh - 100px);
/* prendo 100vh del main e sottraggo l'altezza del footer */
  overflow: scroll;
}

main .container{
  max-width: 1800px;
  width: 98%;
  height: 700px;
  margin: 50px auto;
  position: relative;
}

.container .row{
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
}

.container .webcam{
  width: 250px;
  height: 150px;
  position: relative;
}

.container span{
  color: white;
  font-size: 12px;
  background: rgba(50, 50, 50, 0.3);
  padding: 5px 5px;
  position: absolute;
  left: 0;
  top: 126px;
}
/* /main */

/* footer */

footer{
  background-color: #222222;
  height: 100px;
}

footer .icone{
  width: 98%;
  margin: 0 auto;
  align-items: center;
  color: white;
}

footer .in{
  flex-grow: 1;
  text-align: center;
}

.icone .sx{
  align-items: center;
  flex-direction: column;
}

footer section{
  max-width: 700px;
  margin: 0 auto;
}

.caratteristiche{
  font-size: 30px;
  padding-bottom: 8px;
}

footer .arrow{
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

footer .end{
  color: red;
  background-color: #4a4a4a;
  padding: 40px;
}

footer .end:hover{
  background-color: #8b8888;
}

footer i:hover{
  color: #4bc800;
}

.scritta:hover{
  color: #4bc800;
}